aws-cdk.core==1.177.0
aws-cdk.aws_ec2==1.177.0
aws-cdk.aws_codeartifact==1.177.0
aws-cdk.aws_mwaa==1.177.0
aws-cdk.aws_s3_deployment==1.177.0
aws-cdk.aws_events==1.177.0
aws-cdk.aws_lambda==1.177.0
aws-cdk.aws_events_targets==1.177.0
aws-cdk.aws_iam==1.177.0